/*-- scss:defaults --*/
$body-color: #c9d1d9;
$body-bg: #0d1117;
$link-color: #58a6ff;
$navbar-bg: #161b22;
$navbar-fg: #c9d1d9;
$code-bg: #161b22;
$code-color: #c9d1d9;
$border-color: #30363d;

/*-- scss:rules --*/
.navbar-title {
  font-weight: 600;
}
