/*-- scss:defaults --*/
$body-color: #1f2328;
$body-bg: #ffffff;
$link-color: #0969da;
$navbar-bg: #1f2328;
$navbar-fg: #ffffff;
$code-bg: #f6f8fa;
$code-color: #24292f;
$border-color: #d0d7de;

/*-- scss:rules --*/
.navbar-title {
  font-weight: 600;
}
